@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    font-family: "Azeret Mono", monospace;
}
/* Header nav section styles */
.nav-content{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    /* margin-left: 150px; */
}
.nav-title{
    margin-left: 120px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 28px;
    font-weight: 800;
}
.nav-btn{
    margin-right: 166px;
    width: 228px;
    height: 58px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 15px;
    font-weight: 600;
    padding: 17px 24px;
    border: 1px solid rgb(13, 19, 33);
    border-radius: 8px;
    opacity: 0.8;
}
/* Header banner section style */
.header{
    margin-top: 47px;
}
.header-banner-container{
    height: 702px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    background-image: url(../assets/Hero-bg.png);
}
.header-image-content{
    margin-top: 26px;
    width: 240.28px;
    height: 240px;
}
.header-text-content{
    margin-top: 32px;
    margin-left: 221px;
    margin-right: 221px;
    margin-bottom: 0px;
}
.header-banner-title{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 48px;
    font-weight: 800;
    line-height: 68px;
    letter-spacing: 0%;
    text-align: center;
}

.header-banner-description{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
}
.header-banner-description-btn{
    margin: 32px 322px 44px 322px;
    width: 208px;
    height: 66px;
    padding: 21px 24px 21px 24px;
    border-radius: 8px;
    background: rgb(13, 19, 33);
}
.header-banner-description-btn a{
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 15px;
    font-weight: 600;
    line-height: 23px;
    text-decoration: none ;
} 

    /* Why Web Dev styles starts  */
    .why-web-dev{
        width: 1140px;
        height: 1560px; 
        margin: 54px auto;

        border-radius: 16px;
        background: rgba(13, 19, 33, 0.04);
    }
    .why-web-dev-container{
        width: 946px;
        height: 1235px;
        margin: 80px 97px;

       
    }
    .why-web-dev-text-content{
        margin: 0px 47px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .why-web-dev-ques{
        color: rgb(13, 19, 33);
        font-family: Azeret Mono;
        font-size: 32px;
        font-weight: 800;
        line-height: 37px;
        margin-bottom: 24px;
    }
    .why-web-dev-answer{
        color: rgb(13, 19, 33);
        font-family: Azeret Mono;
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        letter-spacing: 0%;
        opacity: 0.7;
        text-align: center;
    }
    .will-do-code{
        width: 946px;
        height: 336px;
        margin: 48px 0px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 16px;
        background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
        padding: 48px;
    }
   
    .will-do-code-text h5{
        color: rgba(13, 19, 33, 0.7);
        font-family: Azeret Mono;
        font-size: 24px;
        font-weight: 700;
        line-height: 36px;
        letter-spacing: 0%;
        text-align: left;
        margin-bottom:20px
    }
   
    .will-do-code-text p{
        color: rgb(13, 19, 33);
        font-family: Azeret Mono;
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        letter-spacing: 0%;
        text-align: left;
        margin-bottom: 32px;
        opacity: 0.7;
    }
    
    .will-do-code-text button{
        border: 1px solid rgb(13, 19, 33);
        opacity: 0.7;
        width: 150px;
        height: 48px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 12px 20px 12px 20px;
        color: rgb(13, 19, 33);
        font-family: Azeret Mono;
        font-size: 16px;
        font-weight: 600;
        line-height: 23px;
        letter-spacing: 0%;
        text-align: center;
     }
     .will-do-code-img{
        width: 259.56px;
        height: 217.01px;
        left: 8.14%;
        right: -8.14%;
        top: 14.06%;
        bottom: -14.06%;
     }
    .will-help-people{
        margin: 48px 0px;
        margin-bottom: 32px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 16px;
        background: linear-gradient(270.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
        padding: 48px;
    }
    .will-help-people-img img{
       
        width: 223.2px;
        height: 208.85px;
        left: 0%;
        right: 0%;
        top: 0%;
        bottom: 0%;
        margin-right: 48.8px;
        margin-left: 44px;
    }
     .will-help-people-text h5{
        color: rgba(13, 19, 33, 0.7);
        font-family: Azeret Mono;
        font-size: 24px;
        font-weight: 700;
        line-height: 36px;
        letter-spacing: 0%;
        text-align: left;
        margin-bottom:20px
    }
    .will-help-people p{
        color: rgb(13, 19, 33);
        font-family: Azeret Mono;
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        letter-spacing: 0%;
        text-align: left;
        margin-bottom: 32px;
        opacity: 0.7;
    }
    .will-help-people button{
        border: 1px solid rgb(13, 19, 33);
        opacity: 0.7;
        width: 150px;
        height: 48px;
        /* Auto layout */
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 12px 20px 12px 20px;
        color: rgb(13, 19, 33);
        font-family: Azeret Mono;
        font-size: 16px;
        font-weight: 600;
        line-height: 23px;
        letter-spacing: 0%;
        text-align: center;
     }
     /* My inspiration section starts */
    .my-inspiration{
        width: 1140px;
        height: 777px;
        margin: 0px auto;
        margin-bottom: 150px;
    }
    .my-inspiration-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .my-inspiration-text{
        width: 852px;
        height: 115px;
        /* Auto layout */
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding: 0px;
    }
    .my-inspiration-text h5{
        margin: 24px 24px 0px 24px;
        color: rgb(13, 19, 33);
        font-family: Azeret Mono;
        font-size: 32px;
        font-weight: 800;
        line-height: 37px;
        letter-spacing: 0%;
        text-align: center;
    }
    .my-inspiration-text p{
        color: rgb(13, 19, 33);
        font-family: Azeret Mono;
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        letter-spacing: 0%;
        text-align: center;
        opacity: 0.7;
        margin: 30px 0px;
    }
    .my-inspiration-video{

        width: 1140px;
        height: 614px;
        /* Auto layout */
        margin-top:40px;
        padding: 32px;
    }
    .my-inspiration-video iframe{
        width: 1076px;
        height: 550px;
        padding: 0px 0px;
    }
    .rounded-iframe {
        border-radius: 15px;
        border: 2px solid white;
        overflow: hidden;
      }
    /* My current target section style */
    .my-current-target{
        width: 1140px;
        height: 463px;
        margin: 0px auto;
        margin-bottom: 60px;
    }
    .my-current-target-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .my-current-target-text{
        width: 946px;
        height: 115px;
        /* Auto layout */
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding: 0px;
        margin-bottom: 48px;
    }
    .my-current-target-text h3{
        color: rgb(13, 19, 33);
        font-family: Azeret Mono;
        font-size: 32px;
        font-weight: 800;
        line-height: 37px;
        letter-spacing: 0%;
        text-align: center;
        margin:24px 0px
    }
    .my-current-target-text p{
        color: rgb(13, 19, 33);
        font-family: Azeret Mono;
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        letter-spacing: 0%;
        text-align: center;
        opacity: 0.7;
       
    }
    .my-current-target-lagnuages{
        width: 1140px;
        height: 300px;
        display: flex;
        justify-content: space-evenly;
          
    }
    .html{
        width: 364px;
        height: 300px;
        /* Auto layout */
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 40px;border-radius: 16px;
        background: rgba(255, 76, 30, 0.05);
        margin: 0px 24px;
    }
    .html img{
        width: 39.68px;
        height: 45px;
    }
    .html h6{
        color: rgb(13, 19, 33);
        font-family: Azeret Mono;
        font-size: 24px;
        font-weight: 800;
        line-height: 36px;
        letter-spacing: 0%;
        text-align: left;
    }
    .html p{
        color: rgb(13, 19, 33);
        font-family: Azeret Mono;
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        letter-spacing: 0%;
        text-align: left;
        margin: 8px 0px;
    }
    .html a{
        color: rgb(13, 19, 33);
        font-family: Azeret Mono;
        font-size: 16px;
        font-weight: 700;
        line-height: 19px;
        letter-spacing: 0%;
        text-align: left;
        text-decoration-line: underline;
    }
   
    .css{
        width: 364px;
        height: 300px;
        /* Auto layout */
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 40px;border-radius: 16px;
        background: rgba(255, 76, 30, 0.05);
        margin: 0px 24px;
    }
    .css img{
        width: 39.68px;
        height: 45px;
    }
    .css h6{
        color: rgb(13, 19, 33);
        font-family: Azeret Mono;
        font-size: 24px;
        font-weight: 800;
        line-height: 36px;
        letter-spacing: 0%;
        text-align: left;
    }
    .css p{
        color: rgb(13, 19, 33);
        font-family: Azeret Mono;
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        letter-spacing: 0%;
        text-align: left;
        margin: 8px 0px;
    }
    .css a{
        color: rgb(13, 19, 33);
        font-family: Azeret Mono;
        font-size: 16px;
        font-weight: 700;
        line-height: 19px;
        letter-spacing: 0%;
        text-align: left;
        text-decoration-line: underline;
    }

    .js{
        width: 364px;
        height: 300px;
        /* Auto layout */
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 40px;border-radius: 16px;
        background: rgba(255, 76, 30, 0.05);
        margin: 0px 24px;
    }
    .js img{
        width: 39.68px;
        height: 45px;
    }
    .js h6{
        color: rgb(13, 19, 33);
        font-family: Azeret Mono;
        font-size: 24px;
        font-weight: 800;
        line-height: 36px;
        letter-spacing: 0%;
        text-align: left;
    }
    .js p{
        color: rgb(13, 19, 33);
        font-family: Azeret Mono;
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        letter-spacing: 0%;
        text-align: left;
        margin: 8px 0px;
    }
    .js a{
        color: rgb(13, 19, 33);
        font-family: Azeret Mono;
        font-size: 16px;
        font-weight: 700;
        line-height: 19px;
        letter-spacing: 0%;
        text-align: left;
        text-decoration-line: underline;
    }
    /* Need support section style */
    .i-need-support{
        width: 1140px;
        height: 314px;
        left: 150px;
        right: 150px;
        top: 4752px;
        bottom: 179px;
        background-image: url('../assets/handshake.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        /* Auto layout */
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 64px 48px 64px 48px;
        border-radius: 16px;
        background: rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2),url(Email);
        margin: 0px auto;
        margin-bottom: 48px;
    }
    .i-need-support-container{
        width: 1044px;
        height: 186px;
        /* Auto layout */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0px;
        padding: 32px 0px; 
    } 
    .i-need-support-text {
        width: 730px;
        height: 104px;
        /* Auto layout */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0px;
        margin-bottom: 24px;
    }
    .i-need-support-text h5{
        color: rgb(255, 255, 255);
        font-family: Azeret Mono;
        font-size: 32px;
        font-weight: 700;
        line-height: 36px;
        letter-spacing: 0%;
        text-align: center;
    }

    .i-need-support-text p{
        color: rgb(255, 255, 255);
        font-family: Azeret Mono;
        opacity: 0.8;
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        letter-spacing: 0%;
        text-align: center;
    }
     
    .i-need-support-input{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center
    }

    .i-need-support-input input{
        width: 548px;
        height: 57px;
        /* Auto layout */
        ;
        padding: 19px 20px 19px 20px;
        box-sizing: border-box;
        border: 1px solid rgba(13, 19, 33, 0.15);
        border-radius: 8px;
        background: rgb(255, 255, 255);
    }
    .i-need-support-input button{
        width: 120px;
        height: 58px;
        /* Auto layout */
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 17px 20px 17px 20px;
        margin: 0px 16px;
        border-radius: 8px;
        background: rgb(255, 255, 255);
        color: rgb(13, 19, 33);
        font-family: Azeret Mono;
        font-size: 16px;
        font-weight: 600;
        line-height: 23px;
        letter-spacing: 0%;
        text-align: center;
    }
    /* Footer section style */
    .final-part-footer{
        
        border-radius: 16px;
        background: rgba(13, 19, 33, 0.08);
        padding: 32px 100px 32px 100px;
        
    }
    .footer-container{
        width: 1140px;
        height: 36px;
        /* Auto layout */
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0px;
    }
    .footer-text{
        color: rgb(13, 19, 33);
        font-family: Azeret Mono;
        font-size: 20px;
        font-weight: 600;
        line-height: 23px;
        letter-spacing: 0%;
        text-align: center;
}
.social{
    width: 13.25px;
    height: 28.25px;
    left: 11.53px;
    top: 7.75px;
}

